# Code Test

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from src_eda.eda import data_quality

In [3]:
df = pd.read_csv('data/regression_bonus_practice_data.csv')

In [4]:
data_quality(df)

Data Quality Report:
Total rows: 15900
Total columns: 18
Duplicate rows: 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15900 entries, 0 to 15899
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               15900 non-null  int64
 1   number_of_siblings  15900 non-null  int64
 2   direct_admission    15900 non-null  object
 3   CCA                 12071 non-null  object
 4   learning_style      15900 non-null  object
 5   student_id          15900 non-null  object
 6   gender              15900 non-null  object
 7   tuition             15900 non-null  object
 8   final_test          15405 non-null  float64
 9   n_male              15900 non-null  float64
 10  n_female            15900 non-null  float64
 11  age                 15900 non-null  float64
 12  hours_per_week      15900 non-null  float64
 13  attendance_rate     15122 non-null  float64
 14  sleep_time          15900 non-null  object
 15  wake_time           15900 non-null  object
 16  mode_of_transport   15900 non-null  object
 17  bag_color           15900 non-null  object
dtypes: float64(6), int64(2), object(10)
memory usage: 2.2+ MB
None
Numerical columns: Index(['index', 'number_of_siblings', 'final_test', 'n_male', 'n_female',
       'age', 'hours_per_week', 'attendance_rate'],
      dtype='object')
Categorical columns: Index(['direct_admission', 'CCA', 'learning_style', 'student_id', 'gender',
       'tuition', 'sleep_time', 'wake_time', 'mode_of_transport', 'bag_color'],
      dtype='object')
Temporal columns: Index([], dtype='object')
Columns with missing data: ['CCA', 'final_test', 'attendance_rate']

In [5]:
df = pd.read_csv('data/resale_transactions.csv')

In [6]:
data_quality(df)

Warning: 4223 duplicate rows found.
Duplicate rows percentage: 4.76%
Data Quality Report:
Total rows: 88688
Total columns: 14
Duplicate rows: 4223
Warning: 4223 duplicate rows found.
Duplicate rows percentage: 4.76%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88688 entries, 0 to 88687
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   88688 non-null  int64
 1   month                88688 non-null  object
 2   flat_type            88688 non-null  object
 3   block                88688 non-null  object
 4   street_name          88688 non-null  object
 5   storey_range         88688 non-null  object
 6   floor_area_sqm       88688 non-null  float64
 7   lease_commence_date  88688 non-null  int64
 8   remaining_lease      88688 non-null  object
 9   resale_price         88688 non-null  float64
 10  town_id              88688 non-null  int64
 11  flatm_id             88688 non-null  int64
 12  town_name            87905 non-null  object
 13  flatm_name           88174 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 9.5+ MB
None
Numerical columns: Index(['id', 'floor_area_sqm', 'lease_commence_date', 'resale_price',
       'town_id', 'flatm_id'],
      dtype='object')
Categorical columns: Index(['month', 'flat_type', 'block', 'street_name', 'storey_range',
       'remaining_lease', 'town_name', 'flatm_name'],
      dtype='object')
Temporal columns: Index([], dtype='object')
Columns with missing data: ['town_name', 'flatm_name']